.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slick-prev,.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before,.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: .75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #000;
  opacity: .75;
}/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,aside,footer,header,nav,section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,figure,main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,strong {
  font-weight: inherit;
}

b,strong {
  font-weight: bolder;
}

code,kbd,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,input,optgroup,select,textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,input {
  overflow: visible;
}

button,select {
  text-transform: none;
}

button,html [type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

h1,h2 {
  color: #000;
  font-family: "Noto Serif",Cambria,Georgia,serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: .5em;
  margin-top: 0;
}

h3,h4,h5,h6 {
  color: #000;
  font-family: "Average Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 1.4;
  margin-bottom: 1em;
  margin-top: 0;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .75em;
}

a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.heading-shadow {
  color: #475362;
  margin-bottom: 0;
  position: relative;
  z-index: 0;
}

.heading-shadow:before {
  color: rgba(205,211,219,0.2);
  content: attr(data-shadow-text);
  display: block;
  font-family: "Noto Serif",Cambria,Georgia,serif;
  font-size: 3.94625em;
  font-weight: 600;
  left: -2rem;
  line-height: 1;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: translate(0, -40%);
  -ms-transform: translate(0, -40%);
  transform: translate(0, -40%);
  white-space: nowrap;
  z-index: -1;
}

*,*:before,*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
}

html {
  background-color: #fff;
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  height: 100%;
  line-height: 1.5;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 65em;
}

.container::before,.container::after {
  content: ' ';
  display: table;
}

.container::after {
  clear: both;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.margin--lg {
  margin-bottom: 6em;
  margin-top: 6em;
}

.header {
  height: 5.5555555556rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  width: 100%;
  z-index: 30;
}

.header::before,.header::after {
  content: ' ';
  display: table;
}

.header::after {
  clear: both;
}

.header:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(71,83,98,0.5)), to(rgba(71,83,98,0)));
  background: linear-gradient(to bottom, rgba(71,83,98,0.5), rgba(71,83,98,0));
  content: '';
  height: 6em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.brand .brand__logo {
  height: 5.1667em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.button {
  background: #105d6d;
  border-radius: .25em;
  -webkit-box-shadow: 0 4px 6px rgba(71,83,98,0.11),0 1px 3px rgba(0,0,0,0.08);
  box-shadow: 0 4px 6px rgba(71,83,98,0.11),0 1px 3px rgba(0,0,0,0.08);
  color: #fff;
  display: inline-block;
  font-family: "Average Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .75em;
  height: 3em;
  letter-spacing: .1em;
  line-height: 3em;
  padding: 0 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  white-space: nowrap;
  width: auto;
}

.button:hover {
  -webkit-box-shadow: 0 7px 14px rgba(71,83,98,0.1),0 3px 6px rgba(0,0,0,0.08);
  box-shadow: 0 7px 14px rgba(71,83,98,0.1),0 3px 6px rgba(0,0,0,0.08);
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
}

.trigger {
  display: none;
}

.menu {
  float: right;
}

.menu .menu__bottom {
  display: block;
  left: 0;
  position: absolute;
  top: 4.445em;
  -webkit-transform: translateY(0.5em);
  -ms-transform: translateY(0.5em);
  transform: translateY(0.5em);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: auto;
}

.header--active .menu .menu__bottom {
  display: block;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.menu .menu__dropdown {
  background-color: #fff;
  border-radius: .25em;
  -webkit-box-shadow: 0 3em 6em rgba(35,41,49,0.1),0 1em 2em rgba(35,41,49,0.15),0 0.5em 1em rgba(0,0,0,0.1);
  box-shadow: 0 3em 6em rgba(35,41,49,0.1),0 1em 2em rgba(35,41,49,0.15),0 0.5em 1em rgba(0,0,0,0.1);
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.menu .menu__dropdown:before {
  border: .5em solid transparent;
  border-bottom-color: #fff;
  bottom: 100%;
  content: '';
  height: 0;
  left: 50%;
  opacity: 0;
  position: absolute;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
}

.header--active .menu .menu__dropdown:before {
  opacity: 1;
}

.header--active .menu .menu__dropdown {
  -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
  transition: width .3s, height .3s, -webkit-transform .3s;
  transition: transform .3s, width .3s, height .3s;
  transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
  visibility: visible;
}

.menu .menu__list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu .menu__list.menu__list--level-1>.menu__item {
  display: inline-block;
}

.menu .menu__list.menu__list--level-1 .menu__link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 112.5%;
  height: 5.5555555556rem;
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: 0.0625em 0.0625em 0.25em rgba(71,83,98,0.5);
}

.menu .menu__list.menu__list--level-1 .menu__link:hover,.menu .menu__list.menu__list--level-1 .menu__link:active,.menu .menu__list.menu__list--level-1 .menu__link.is-active {
  opacity: .7;
}

.menu .menu__list.menu__list--level-2 {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}

.menu .menu__list.menu__list--level-2 .menu__link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6b7c93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.menu .menu__list.menu__list--level-2 .menu__link:hover {
  background-color: rgba(205,211,219,0.3);
}

.menu .menu__item {
  list-style: none;
}

.menu .menu__item:last-child .menu__link {
  padding-right: 0;
}

.menu .menu__link {
  font-family: "Average Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.menu .menu__icon {
  border-radius: 50%;
  margin-right: 1em;
  padding: .75em;
  position: relative;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.sub-menu {
  left: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  width: 100%;
}

.sub-menu.is-active {
  opacity: 1;
  visibility: visible;
}

.sub-menu.sub-menu--move-left .sub-menu__list {
  -webkit-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  transform: translateX(-100px);
}

.sub-menu.sub-menu--move-right .sub-menu__list {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

.sub-menu .sub-menu__list {
  display: block;
  padding-left: 0;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 20em;
}

.sub-menu .sub-menu__list::before,.sub-menu .sub-menu__list::after {
  content: ' ';
  display: table;
}

.sub-menu .sub-menu__list::after {
  clear: both;
}

.sub-menu .sub-menu__item {
  display: block;
  list-style: none;
}

.global-icons {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1em;
  position: relative;
  vertical-align: middle;
  width: 1em;
}

.icon.icon--sm {
  height: 2em;
  width: 2em;
}

.icon.icon--md {
  height: 3em;
  width: 3em;
}

.icon.icon--lg {
  height: 4em;
  width: 4em;
}

.slick-slider {
  max-height: 100vh;
}

.slick-slider .slick-item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.slick-slider .slick-active .slick-caption>* {
  -webkit-animation-name: slide-in-up;
  animation-name: slide-in-up;
  opacity: 1;
}

.slick-slider .slick-content {
  height: 100%;
  position: relative;
}

.slick-slider .slick-caption {
  bottom: 6em;
  left: 0;
  position: absolute;
  width: 37.5em;
}

.slick-slider .slick-caption h1 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  font-style: italic;
  font-weight: 700;
  text-shadow: 0.0625em 0.0625em 0.25em rgba(71,83,98,0.5);
}

.slick-slider .slick-caption h3 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  text-shadow: 0.0625em 0.0625em 0.5em rgba(71,83,98,0.5);
}

.slick-slider .slick-caption .slick-button {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  margin-top: 1em;
}

.slick-slider .slick-caption>* {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #fff;
  opacity: 0;
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 4em;
}

.logos::before,.logos::after {
  content: ' ';
  display: table;
}

.logos::after {
  clear: both;
}

.logos .logos__item {
  height: 4.7222222222em;
  position: relative;
  width: 10em;
}

.logos .logos__image {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social {
  margin: 0;
  padding-left: 0;
}

.social .social__item {
  float: left;
  list-style: none;
}

.social .social__item:first-child .social__link {
  margin-left: 0;
}

.social .social__link {
  margin-left: 1em;
}

.social .social__link:hover .social__icon {
  fill: #cdd3db;
}

.social .social__icon {
  fill: #9ca7b7;
  height: 1.5em;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
  width: 1.5em;
}

.tabs {
  margin-top: 4em;
}

.tabs .tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  position: relative;
}

.tabs .tabs__item {
  color: #6b7c93;
  fill: #6b7c93;
  text-align: center;
  width: 20%;
}

.tabs .tabs__item:nth-child(1).active ~ *:last-child:after {
  background-color: #db8cb9;
}

.tabs .tabs__item:nth-last-child(1):first-child,.tabs .tabs__item:nth-last-child(1):first-child ~ * {
  width: 100%;
}

.tabs .tabs__item:nth-last-child(1):first-child:last-child:after,.tabs .tabs__item:nth-last-child(1):first-child ~ *:last-child:after {
  width: 100%;
}

.tabs .tabs__item:nth-last-child(1):first-child:last-child.active:after,.tabs .tabs__item:nth-last-child(1):first-child ~ *:last-child.active:after {
  background-color: #db8cb9;
  left: 0%;
}

.tabs .tabs__item:nth-last-child(1):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(1):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0;
}

.tabs .tabs__item:nth-last-child(1):first-child:nth-child(2).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(1):first-child ~ *:nth-child(2).active ~ li:last-child:after {
  left: 100%;
}

.tabs .tabs__item:nth-last-child(1):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(1):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0%;
}

.tabs .tabs__item:nth-child(2).active ~ *:last-child:after {
  background-color: #61d1e8;
}

.tabs .tabs__item:nth-last-child(2):first-child,.tabs .tabs__item:nth-last-child(2):first-child ~ * {
  width: 50%;
}

.tabs .tabs__item:nth-last-child(2):first-child:last-child:after,.tabs .tabs__item:nth-last-child(2):first-child ~ *:last-child:after {
  width: 50%;
}

.tabs .tabs__item:nth-last-child(2):first-child:last-child.active:after,.tabs .tabs__item:nth-last-child(2):first-child ~ *:last-child.active:after {
  background-color: #61d1e8;
  left: 50%;
}

.tabs .tabs__item:nth-last-child(2):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(2):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0;
}

.tabs .tabs__item:nth-last-child(2):first-child:nth-child(2).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(2):first-child ~ *:nth-child(2).active ~ li:last-child:after {
  left: 50%;
}

.tabs .tabs__item:nth-child(3).active ~ *:last-child:after {
  background-color: #fcdbc3;
}

.tabs .tabs__item:nth-last-child(3):first-child,.tabs .tabs__item:nth-last-child(3):first-child ~ * {
  width: 33.33333%;
}

.tabs .tabs__item:nth-last-child(3):first-child:last-child:after,.tabs .tabs__item:nth-last-child(3):first-child ~ *:last-child:after {
  width: 33.33333%;
}

.tabs .tabs__item:nth-last-child(3):first-child:last-child.active:after,.tabs .tabs__item:nth-last-child(3):first-child ~ *:last-child.active:after {
  background-color: #fcdbc3;
  left: 66.66667%;
}

.tabs .tabs__item:nth-last-child(3):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(3):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0;
}

.tabs .tabs__item:nth-last-child(3):first-child:nth-child(2).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(3):first-child ~ *:nth-child(2).active ~ li:last-child:after {
  left: 33.33333%;
}

.tabs .tabs__item:nth-last-child(3):first-child:nth-child(3).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(3):first-child ~ *:nth-child(3).active ~ li:last-child:after {
  left: 66.66667%;
}

.tabs .tabs__item:nth-child(4).active ~ *:last-child:after {
  background-color: #8fdb8c;
}

.tabs .tabs__item:nth-last-child(4):first-child,.tabs .tabs__item:nth-last-child(4):first-child ~ * {
  width: 25%;
}

.tabs .tabs__item:nth-last-child(4):first-child:last-child:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:last-child:after {
  width: 25%;
}

.tabs .tabs__item:nth-last-child(4):first-child:last-child.active:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:last-child.active:after {
  background-color: #8fdb8c;
  left: 75%;
}

.tabs .tabs__item:nth-last-child(4):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0;
}

.tabs .tabs__item:nth-last-child(4):first-child:nth-child(2).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:nth-child(2).active ~ li:last-child:after {
  left: 25%;
}

.tabs .tabs__item:nth-last-child(4):first-child:nth-child(3).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:nth-child(3).active ~ li:last-child:after {
  left: 50%;
}

.tabs .tabs__item:nth-last-child(4):first-child:nth-child(4).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(4):first-child ~ *:nth-child(4).active ~ li:last-child:after {
  left: 75%;
}

.tabs .tabs__item:nth-child(5).active ~ *:last-child:after {
  background-color: #faf19a;
}

.tabs .tabs__item:nth-last-child(5):first-child,.tabs .tabs__item:nth-last-child(5):first-child ~ * {
  width: 20%;
}

.tabs .tabs__item:nth-last-child(5):first-child:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:last-child:after {
  width: 20%;
}

.tabs .tabs__item:nth-last-child(5):first-child:last-child.active:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:last-child.active:after {
  background-color: #faf19a;
  left: 80%;
}

.tabs .tabs__item:nth-last-child(5):first-child:nth-child(1).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:nth-child(1).active ~ li:last-child:after {
  left: 0;
}

.tabs .tabs__item:nth-last-child(5):first-child:nth-child(2).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:nth-child(2).active ~ li:last-child:after {
  left: 20%;
}

.tabs .tabs__item:nth-last-child(5):first-child:nth-child(3).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:nth-child(3).active ~ li:last-child:after {
  left: 40%;
}

.tabs .tabs__item:nth-last-child(5):first-child:nth-child(4).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:nth-child(4).active ~ li:last-child:after {
  left: 60%;
}

.tabs .tabs__item:nth-last-child(5):first-child:nth-child(5).active ~ li:last-child:after,.tabs .tabs__item:nth-last-child(5):first-child ~ *:nth-child(5).active ~ li:last-child:after {
  left: 80%;
}

.tabs .tabs__item:last-child:after {
  bottom: -.0625em;
  content: '';
  display: block;
  height: .125em;
  left: 0;
  position: absolute;
  -webkit-transition: left .4s ease;
  transition: left .4s ease;
}

.tabs .tabs__item.active.tabs__item--blue {
  color: #1990a8;
  fill: #1990a8;
}

.tabs .tabs__item.active.tabs__item--blue .tabs__icon {
  background-color: rgba(25,144,168,0.1);
}

.tabs .tabs__item.active.tabs__item--green {
  color: #3aaa35;
  fill: #3aaa35;
}

.tabs .tabs__item.active.tabs__item--green .tabs__icon {
  background-color: rgba(58,170,53,0.1);
}

.tabs .tabs__item.active.tabs__item--pink {
  color: #aa3577;
  fill: #aa3577;
}

.tabs .tabs__item.active.tabs__item--pink .tabs__icon {
  background-color: rgba(170,53,119,0.1);
}

.tabs .tabs__item.active.tabs__item--orange {
  color: #f68d41;
  fill: #f68d41;
}

.tabs .tabs__item.active.tabs__item--orange .tabs__icon {
  background-color: rgba(246,141,65,0.1);
}

.tabs .tabs__item.active.tabs__item--yellow {
  color: #f4df18;
  fill: #f4df18;
}

.tabs .tabs__item.active.tabs__item--yellow .tabs__icon {
  background-color: rgba(244,223,24,0.1);
}

.tabs .tabs__link {
  display: block;
  padding: 1.5em;
  text-decoration: none;
}

.tabs .tabs__link:hover .tabs__icon {
  -webkit-animation: bounce .4s;
  animation: bounce .4s;
}

.tabs .tabs__link>*:last-child {
  margin-bottom: 0;
}

.tabs .tabs__icon {
  background-color: rgba(107,124,147,0.1);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 1.5em;
  padding: 1em;
  position: relative;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.tabs .tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 4em;
}

.tabs .tabs__copy {
  margin-left: 2em;
}

.tiles .tiles__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.tiles .tiles__item {
  border: 0.05556em solid #fff;
  color: #fff;
  height: 24em;
  padding: 1em;
}

.tiles .tiles__item.tiles__item--sm {
  width: 33.3%;
}

.tiles .tiles__item.tiles__item--lg {
  width: 66.6%;
}

.tiles .tiles__item.tiles__item--blue {
  background-color: #61d1e8;
  color: #105d6d;
}

.tiles .tiles__item.tiles__item--green {
  background-color: #8fdb8c;
  color: #287625;
}

.tiles .tiles__item.tiles__item--pink {
  background-color: #db8cb9;
  color: #762553;
}

.tiles .tiles__item.tiles__item--orange {
  background-color: #fcdbc3;
  color: #e8680b;
}

.tiles .tiles__item.tiles__item--yellow {
  background-color: #faf19a;
  color: #bfae09;
}

.tiles .tiles__item h4 {
  color: inherit;
  font-family: "Noto Serif",Cambria,Georgia,serif;
}

.footer {
  background-color: #232931;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-bottom: 2em;
  padding-top: 2em;
  width: 100%;
}

.footer::before,.footer::after {
  content: ' ';
  display: table;
}

.footer::after {
  clear: both;
}

.footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
}

.footer .footer__logo {
  height: 1.7em;
}

.footer .footer__copyright {
  clear: left;
  color: #9ca7b7;
  font-size: 75%;
}

.footer-menu .footer-menu__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer-menu .footer-menu__item {
  float: left;
  font-size: 75%;
  margin-right: 1em;
}

.footer-menu .footer-menu__item:after {
  color: #9ca7b7;
  content: '/';
  margin-left: 1em;
}

.footer-menu .footer-menu__item:last-child:after {
  display: none;
}

.footer-menu .footer-menu__item.footer-menu__item--active .footer-menu__link {
  color: #fff;
}

.footer-menu .footer-menu__link {
  color: #9ca7b7;
  text-decoration: none;
}

.footer-menu .footer-menu__link:hover {
  color: #cdd3db;
}

@font-face {
  font-family:"slick";src:url("./fonts/slick.eot");src:url("./fonts/slick.eot?#iefix") format("embedded-opentype"),url("./fonts/slick.woff") format("woff"),url("./fonts/slick.ttf") format("truetype"),url("./fonts/slick.svg#slick") format("svg");font-weight:normal;font-style:normal;
}

@media (min-width: 30em) and (max-width: 62em) {
  :root {
    font-size: calc(16px + (18 - 16) * ( (100vw - 30em) / (992 - 480) ));
  }
}

@media only screen and (min-width: 62em) {
  :root {
    font-size: 18px;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  40% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  40% {
    -webkit-transform: translate(0, -1em);
    transform: translate(0, -1em);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slide-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 300ms ease 300ms, -webkit-transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, -webkit-transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, transform 500ms ease 300ms, -webkit-transform 500ms ease 300ms;
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 300ms ease 300ms, -webkit-transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, -webkit-transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, transform 500ms ease 300ms;
    transition: opacity 300ms ease 300ms, transform 500ms ease 300ms, -webkit-transform 500ms ease 300ms;
  }
}
