// Clearfix
// -----------
// Adds clearfix for clearing sibling elements.

@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}


// Image tabs
// -------------
// Calculates active tab indicator position

// sass-lint:disable force-element-nesting force-pseudo-nesting
@mixin active-tab-item($number, $color, $comparison: 'equal') {
  $nth: '';

  @if index(('greater' 'more' '>'), $comparison) {
    $nth: 'n + #{$number}';
  } @else if index(('less' 'fewer' '<'), $comparison) {
    $nth: '-n + #{$number}';
  } @else if index(('equal' 'same' '='), $comparison) {
    $nth: $number;
  } @else {
    @warn 'Sorry, that’s an invalid $comparison value.';
  }

  &:nth-child(#{$number}).active ~ *:last-child:after {
    background-color: #{$color};
  }

  &:nth-last-child(#{$nth}):first-child {
    &,
    & ~ * {
      width: percentage(1 / $nth);

      &:last-child:after {
        width: percentage(1 / $nth);
      }

      &:last-child.active:after {
        background-color: #{$color};
        left: percentage(1 - (1 / $nth));
      }

      &:nth-child(1).active ~ li:last-child:after {
        left: 0;
      }

      @for $i from 2 through $nth {
        $width: percentage(($i / $nth) - (1 / $nth));

        &:nth-child(#{$i}).active ~ li:last-child:after {
          left: $width;
        }
      }
    }
  }
}
// sass-lint:enable force-element-nesting force-pseudo-nesting
