.slick-slider {
  max-height: 100vh;

  .slick-item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100%;
    z-index: 0;
  }

  .slick-active {
    .slick-caption {
      > * {
        animation-name: slide-in-up;
        opacity: 1;
      }
    }
  }

  .slick-content {
    height: 100%;
    position: relative;
  }

  .slick-caption {
    bottom: 6em;
    left: 0;
    position: absolute;
    width: 37.5em;

    h1 {
      animation-delay: .2s;
      font-style: italic;
      font-weight: 700;
      text-shadow: .0625em .0625em .25em alpha($grey-dark, .5);
    }

    h3 {
      animation-delay: .4s;
      text-shadow: .0625em .0625em .5em alpha($grey-dark, .5);
    }

    .slick-button {
      animation-delay: .6s;
      margin-top: 1em;
    }

    > * {
      animation-duration: 1s;
      animation-fill-mode: both;
      color: $white;
      opacity: 0;
    }
  }
}
