.header {
  @include clearfix;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color .4s;
  width: 100%;
  z-index: $site-header-zindex;

  &:hover,
  &.header--active {
    background-color: $white;
  }
}
