.header {
  @include clearfix;
  height: 5.5555555556rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .4s;
  width: 100%;
  z-index: $site-header-zindex;

  &:before {
    background: linear-gradient(to bottom, alpha($grey-dark, .5), alpha($grey-dark, 0));
    content: '';
    height: 6em;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}
