.logos {
  @include clearfix;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  margin-top: 2em;

  .logos__item {
    height: 8em;
    position: relative;
    width: 17em;
  }

  .logos__image {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
