.menu {
  float: right;

  .menu__bottom {
    display: block;
    left: 0;
    position: absolute;
    top: 4.445em;
    transform: translateY(.5em);
    transition: transform .3s;
    width: auto;

    .header--active & {
      display: block;
      transform: translateY(0);
    }
  }

  .menu__dropdown {
    background-color: $white;
    border-radius: .25em;
    box-shadow: 0 3em 6em alpha($grey-v-dark, .1), 0 1em 2em alpha($grey-v-dark, .15), 0 .5em 1em alpha($black, .1);
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;

    &:before {
      border: .5em solid transparent;
      border-bottom-color: $white;
      bottom: 100%;
      content: '';
      height: 0;
      left: 50%;
      opacity: 0;
      position: absolute;
      right: auto;
      transform: translateX(-50%);
      width: 0;

      .header--active & {
        opacity: 1;
      }
    }

    .header--active & {
      transition: transform .3s, width .3s, height .3s;
      visibility: visible;
    }
  }

  .menu__list {
    margin: 0;
    padding: 0;
    width: 100%;

    &.menu__list--level-1 {
      > .menu__item {
        display: inline-block;
      }

      .menu__link {
        align-items: center;
        // color: $white;
        color: $grey-light;
        display: flex;
        font-size: $large-font-size;
        height: 5.5555555556rem;
        padding-left: 1em;
        padding-right: 1em;

        &:hover,
        &:active,
        &.is-active {
          opacity: .7;
        }
      }
    }

    &.menu__list--level-2 {
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      z-index: 1;

      .menu__link {
        align-items: center;
        color: $grey-light;
        display: flex;
        padding: 1em;

        &:hover {
          background-color: alpha($grey-v-light, .3);
        }
      }
    }
  }

  .menu__item {
    list-style: none;

    &:last-child {
      .menu__link {
        padding-right: 0;
      }
    }

    &.menu__item--has-children {

    }
  }

  .menu__link {
    font-family: $header-font-family-alt;
    text-decoration: none;
  }

  .menu__icon {
    border-radius: 50%;
    height: 2.25em;
    margin-right: 1em;
    position: relative;
    transition: background-color .3s, color .3s;
    width: 2.25em;

    &:before {
      font-size: $h5-font-size;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.sub-menu {
  left: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  width: 100%;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  &.sub-menu--move-left {
    .sub-menu__list {
      transform: translateX(-100px);
    }
  }

  &.sub-menu--move-right {
    .sub-menu__list {
      transform: translateX(100px);
    }
  }

  .sub-menu__list {
    @include clearfix;
    display: block;
    padding-left: 0;
    position: relative;
    transition: transform .3s;
    width: 20em;
  }

  .sub-menu__item {
    display: block;
    list-style: none;
  }
}
