.tiles {
  .tiles__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .tiles__item {
    border: .05555555556em solid $white;
    color: $white;
    height: 24em;
    padding: 1em;

    &.tiles__item--sm {
      width: 33.3%;
    }

    &.tiles__item--lg {
      width: 66.6%;
    }

    &.tiles__item--blue {
      background-color: $blue-v-light;
      color: $blue-dark;
    }

    &.tiles__item--green {
      background-color: $green-v-light;
      color: $green-dark;
    }

    &.tiles__item--pink {
      background-color: $pink-v-light;
      color: $pink-dark;
    }

    &.tiles__item--orange {
      background-color: $orange-v-light;
      color: $orange-dark;
    }

    &.tiles__item--yellow {
      background-color: $yellow-v-light;
      color: $yellow-dark;
    }

    h4 {
      color: inherit;
      font-family: $header-font-family;
    }
  }
}
