* {
  &,
  &:before,
  &:after {
    @if ($body-border-box) {
      box-sizing: border-box;
    }
  }
}

:root {
  font-size: $body-font-size;
}

@media (min-width: #{$screen-xs}) and (max-width: #{$screen-md}) {
  :root {
    font-size: calc(#{$font-size-min}px + (#{$font-size-max} - #{$font-size-min}) * ( (100vw - #{$screen-xs}) / (992 - 480) ));
  }
}

@media #{$desktop} {
  :root {
    font-size: $body-font-size-desktop;
  }
}

html {
  background-color: $body-background;
  height: 100%;
}

body {
  background-color: $body-background;
  color: $body-font-colour;
  display: flex;
  flex-direction: column;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  height: 100%;
  line-height: $global-lineheight;
}

.container {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 65em;
}

.main {
  flex: 1 0 auto;
}

.margin--lg {
  margin-bottom: 6em;
  margin-top: 6em;
}
