@keyframes bounce {
  from {
    transform: translate(0, 0);
  }

  40% {
    transform: translate(0, -1em);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease 300ms, transform 500ms ease 300ms;
  }
}
