h1,
h2 {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  margin-bottom: $header-margin-bottom;
  margin-top: 0;
}

h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font-family-alt;
  font-style: $header-font-style;
  font-weight: $header-font-weight-alt;
  line-height: $header-lineheight;
  margin-bottom: ($header-margin-bottom * 2);
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
