h1,
h2 {
  color: $header-color;
  font-family: $header-font-family;
  font-style: $header-font-style;
  font-weight: $header-font-weight;
  line-height: $header-lineheight;
  margin-bottom: $header-margin-bottom;
  margin-top: 0;
}

h3,
h4,
h5,
h6 {
  color: $header-color;
  font-family: $header-font-family-alt;
  font-style: $header-font-style;
  font-weight: $header-font-weight-alt;
  line-height: $header-lineheight;
  margin-bottom: ($header-margin-bottom * 2);
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  transition: color .3s ease;
}

.heading-shadow {
  color: $grey-dark;
  margin-bottom: 0;
  position: relative;
  z-index: 0;

  &:before {
    color: alpha($grey-v-light, .2);
    content: attr(data-shadow-text);
    display: block;
    font-family: $header-font-family;
    font-size: $h1-font-size;
    font-weight: 600;
    left: -2rem;
    line-height: 1;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translate(0, -40%);
    white-space: nowrap;
    z-index: -1;
  }
}
